.board {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-height: 600px) {
    .board {
        width: 350px;
        height: 450px;
    }
}